@model AMZEnterpriseWebsite.Models.ViewModels.ProgressBarModel

@{
    ViewData["Title"] = "درباره من";
}

@await Html.PartialAsync("PartialViews/_BreadcrumbPV")

<section id="about-me-area">
    <div class="container-fluid">
        <div class="row area-mt">
            <div class="col-lg-6 col-md-12 col-sm-12 col-12 order-lg-1 order-md-2 order-sm-2 order-2">
                <div class="col-12 area-title">
                    <p>درباره من</p>
                </div>
                <div data-aos="zoom-in-up">
                    <p class="text-effect text-justify">
                        علی مومن زاده هستم . برنامه نویس و توسعه دهنده ارشد نرم افزار.
                        علاقه مند به یادگیری تکنولوژی های مختلف نرم افزاری بخصوص وب و موبایل !
                        فعالیت کدنویسی حرفه ای من از سال ۱۳۹۵ آغاز شد و تا به امروز ادامه دارد.
                        همواره در حال توسعه و یادگیری موارد جدید تر هستم و آماده برای انجام و پذیرش
                        پروژه های نرم افزاری مختلف هستم.
                        تمرکز زیادی روی تکنولوژی های مایکروسافت دارم اما در زمان های مختلف
                        به سایر مسائل و جنبه های مختلف نرم افزار ها و سیستم های مختلف می پردازم.
                    </p>
                    <br />
                    <p class="text-effect text-justify">
                        <em>AMZEnterprise</em>
                        در واقع برند شخصی من هست که با این وبسایت به صورت رسمی از اون رونمایی کردم
                        و در پروژه های آینده برخی اوقات ازش استفاده میکنم.
                    </p>
                    <br />
                    <p class="text-effect text-justify">
                        در واقع من یه توسعه دهنده ی حامی اپن سورس هستم !
                        نرم افزار های مختلفی نوشتم که در زمان های مشخصی که در نظر دارم
                        به صورت متن باز ارائه می کنم . شاید این کمترین
                        حمایت من از جامعه برنامه نویسان باشه !
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-12 order-lg-2 order-md-1 order-sm-1 order-1 text-center">
                <img src="~/img/about/me.jpg" alt="" class="img-fluid p-5">
            </div>
        </div>

        @await Component.InvokeAsync("ProgressBars")

        <div class="row area-mt" id="results-area">
            <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                <img src="~/img/svg/certificate.svg" alt="" class="img-fluid">
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                <div class="col-12 area-title">
                    <p>افتخارات من</p>
                </div>
                <ul id="result-list" data-aos="zoom-in-up">
                    <li class="text-effect">
                        <span class="fa fa-check result-ico"></span>
                        بنیانگذار آکادمی آنلاین <a href="http://www.monolearn.ir" class="text-danger">مونولرن</a>
                    </li>
                    <li class="text-effect">
                        <span class="fa fa-check result-ico"></span>
                        مدیریت تیم مهندسی نرم افزار <a href="http://www.xant.ir" class="text-danger">ژانت</a>
                    </li>
                    <li class="text-effect">
                        <span class="fa fa-check result-ico"></span>
                        طراحی و مدیریت وبسایت فروشگاهی و شرکتی
                    </li>
                    <li class="text-effect">
                        <span class="fa fa-check result-ico"></span>
                       مشاور ، نویسنده ، پادکستر و بلاگر برنامه نویسی
                    </li>
                    <li class="text-effect">
                        <span class="fa fa-check result-ico"></span>
                        سابقه آموزش و تدریس حرفه ای برنامه نویسی
                    </li>
                    <li class="text-effect">
                        <span class="fa fa-check result-ico"></span>
                        همکاری در پروژه های مختلف سئو و بهینه سازی وبسایت
                    </li>
                    <li class="text-effect">
                        <span class="fa fa-check result-ico"></span>
                        طراحی و تولید سیستم اتوماسیون اداری و مدیریت مطب
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
