@model AMZEnterpriseWebsite.Models.ViewModels.ContactFormViewModel

@{
    ViewData["Title"] = "تماس با من";
}

@section Scripts
{
    <script>
        function contactFormSent(xhr) {
            Website.JsonResultHandler(xhr.responseJSON);

            $("#UserFullName").val("");
            $("#EmailOrPhoneNumber").val("");
            $("#Subject").val("");
            $("#Body").val("");
        }
    </script>
}

@await Html.PartialAsync("PartialViews/_BreadcrumbPV")

<section id="contact-me-area" class="area-mt">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="col-12 area-title">
                    <p>ارتباط با من</p>
                </div>
                <div data-aos="zoom-in-up">
                    <p class="text-effect text-justify">
                        شما از طریق فرم نظر سنجی زیر می توانید نظرات و پشنهادات خود
                        را به اطلاع من برسانید. پشنهادات و انتقادات شما
                        عزیزان به بهتر شدن موضوعات وبسایت و همچنین برنامه های آتی وبسایت
                        و این مجموعه کمک فراوانی خواهد کرد . پیشاپیش از نظرات شما سپاس گذاریم.

                        <br /><br />

                        همچنین از طریق شماره تماس ، ایمیل و سایر کانال ارتباطی می توانید با من در ارتباط باشید و سفارش پروژه های خود را ثبت کنید.

                        <br />
                        نمونه کارهای من در وبسایت مجموعه <a href="http://www.xant.ir" class="text-danger">ژانت</a> قرار دارد.
                    </p>

                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                <img src="~/img/svg/contact.svg" alt="" class="img-fluid">
            </div>
        </div>
        <div class="row" id="contact-me-form">
            <div class="col-12 area-title">
                <p>تماس با من</p>
            </div>
            <div class="col-8 col-md-10 col-sm-12 col-12 m-auto">

                <form method="post" asp-action="Contact"
                      data-ajax="true" data-ajax-method="post" data-ajax-update="#alert-box" data-ajax-loading="#spinner" data-ajax-complete="contactFormSent">
                    <div class="row">
                        <div class="col-lg-6 col-md-12 col-sm-12 col-12" data-aos="zoom-in-up">
                            <div class="form-group">
                                <input type="text" asp-for="UserFullName" class="form-control" placeholder="@Html.DisplayNameFor(x=>x.UserFullName)">
                                <span asp-validation-for="UserFullName"></span>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 col-12" data-aos="zoom-in-up">
                            <div class="form-group">
                                <input type="text" asp-for="EmailOrPhoneNumber" class="form-control" placeholder="@Html.DisplayNameFor(x=>x.EmailOrPhoneNumber)">
                                <span asp-validation-for="EmailOrPhoneNumber"></span>
                            </div>
                        </div>
                        <div class="col-12" data-aos="zoom-in-up">
                            <div class="form-group">
                                <input type="text" asp-for="Subject" class="form-control" placeholder="@Html.DisplayNameFor(x=>x.Subject)">
                                <span asp-validation-for="Subject"></span>
                            </div>
                        </div>
                        <div class="col-12" data-aos="zoom-in-up">
                            <div class="form-group">
                                <textarea asp-for="Body" cols="30" rows="6" class="form-control" placeholder="@Html.DisplayNameFor(x=>x.Body)"></textarea>
                                <span asp-validation-for="Body"></span>
                            </div>
                        </div>
                        <div class="col-12" data-aos="zoom-in-up">
                            <div class="form-group text-center">
                                <button type="submit" class="btn btn-primary px-5 py-3" data-aos="zoom-in-up">
                                    <span id="spinner" style="display: none;">
                                        <i class="fas fa-spinner fa-spin"></i>
                                    </span>
                                    ارسال نظر
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</section>

@await Component.InvokeAsync("ContactBar")