@model Setting

@{
    ViewData["Title"] = "تنظیمات";
}

@section Styles
{

}

@section Scripts
{

}
<section id="topLabel">
    <div class="container-fluid">
        <div class="row text-white">
            <div class="col-12">
                <h2>
                    <span class="fas fa-cogs"></span>
                    تنظیمات
                </h2>
            </div>
        </div>
    </div>
</section>

<div class="container-fluid">
    <div class="row mt-5">
        <div class="col-lg-6 col-md-8 col-sm-10 col-12 m-auto">
            <form asp-action="Index" method="post" enctype="multipart/form-data">

                <input type="hidden" asp-for="Id" />

                <div class="setting-group-panel">
                    <p class="setting-group-panel-header">تظیمات اصلی سایت</p>
                    <div class="form-group">
                        <label asp-for="SiteName"></label>
                        <input asp-for="SiteName" class="form-control" />
                        <span asp-validation-for="SiteName"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="SiteLogo"></label>
                        <input type="file" name="files" class="form-control" accept="image/*" />
                        <input type="hidden" asp-for="SiteLogo"/>
                        <span asp-validation-for="SiteLogo"></span>
                    </div>

                </div>


                <div class="setting-group-panel">
                    <p class="setting-group-panel-header">تنظیمات متا صفحه اصلی</p>

                    <div class="form-group">
                        <label asp-for="HomeMetaTitle"></label>
                        <input asp-for="HomeMetaTitle" class="form-control" />
                        <span asp-validation-for="HomeMetaTitle"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="HomeMetaKeywords"></label>
                        <input asp-for="HomeMetaKeywords" class="form-control" />
                        <span asp-validation-for="HomeMetaKeywords"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="HomeMetaDescription"></label>
                        <input asp-for="HomeMetaDescription" class="form-control" />
                        <span asp-validation-for="HomeMetaDescription"></span>
                    </div>
                </div>



                <div class="setting-group-panel">
                    <p class="setting-group-panel-header">اطلاعات تماس</p>

                    <div class="form-group">
                        <label asp-for="SocialMedia1"></label>
                        <input asp-for="SocialMedia1" class="form-control" />
                        <span asp-validation-for="SocialMedia1"></span>
                    </div>


                    <div class="form-group">
                        <label asp-for="SocialMedia2"></label>
                        <input asp-for="SocialMedia2" class="form-control" />
                        <span asp-validation-for="SocialMedia2"></span>
                    </div>


                    <div class="form-group">
                        <label asp-for="SocialMedia3"></label>
                        <input asp-for="SocialMedia3" class="form-control" />
                        <span asp-validation-for="SocialMedia3"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="SocialMedia4"></label>
                        <input asp-for="SocialMedia4" class="form-control" />
                        <span asp-validation-for="SocialMedia4"></span>
                    </div>


                    <div class="form-group">
                        <label asp-for="SocialMedia5"></label>
                        <input asp-for="SocialMedia5" class="form-control" />
                        <span asp-validation-for="SocialMedia5"></span>
                    </div>


                    <div class="form-group">
                        <label asp-for="SocialMedia6"></label>
                        <input asp-for="SocialMedia6" class="form-control" />
                        <span asp-validation-for="SocialMedia6"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="SocialMedia7"></label>
                        <input asp-for="SocialMedia7" class="form-control" />
                        <span asp-validation-for="SocialMedia7"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="SocialMedia8"></label>
                        <input asp-for="SocialMedia8" class="form-control" />
                        <span asp-validation-for="SocialMedia8"></span>
                    </div>


                    <div class="form-group">
                        <label asp-for="Phone1"></label>
                        <input asp-for="Phone1" class="form-control" />
                        <span asp-validation-for="Phone1"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Phone2"></label>
                        <input asp-for="Phone2" class="form-control" />
                        <span asp-validation-for="Phone2"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Phone3"></label>
                        <input asp-for="Phone3" class="form-control" />
                        <span asp-validation-for="Phone3"></span>
                    </div>


                    <div class="form-group">
                        <label asp-for="Email1"></label>
                        <input asp-for="Email1" class="form-control" />
                        <span asp-validation-for="Email1"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Email2"></label>
                        <input asp-for="Email2" class="form-control" />
                        <span asp-validation-for="Email2"></span>
                    </div>
                </div>
                
                
                <div class="setting-group-panel">
                    <p class="setting-group-panel-header">اطلاعات کیف پول ها</p>

                    <div class="form-group">
                        <label asp-for="WalletName1"></label>
                        <input asp-for="WalletName1" class="form-control" />
                        <span asp-validation-for="WalletName1"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="WalletAddress1"></label>
                        <input asp-for="WalletAddress1" class="form-control" />
                        <span asp-validation-for="WalletAddress1"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="WalletName2"></label>
                        <input asp-for="WalletName2" class="form-control" />
                        <span asp-validation-for="WalletName2"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="WalletAddress2"></label>
                        <input asp-for="WalletAddress2" class="form-control" />
                        <span asp-validation-for="WalletAddress2"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="WalletName3"></label>
                        <input asp-for="WalletName3" class="form-control" />
                        <span asp-validation-for="WalletName3"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="WalletAddress3"></label>
                        <input asp-for="WalletAddress3" class="form-control" />
                        <span asp-validation-for="WalletAddress3"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="WalletName4"></label>
                        <input asp-for="WalletName4" class="form-control" />
                        <span asp-validation-for="WalletName4"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="WalletAddress4"></label>
                        <input asp-for="WalletAddress4" class="form-control" />
                        <span asp-validation-for="WalletAddress4"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="WalletName5"></label>
                        <input asp-for="WalletName5" class="form-control" />
                        <span asp-validation-for="WalletName5"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="WalletAddress5"></label>
                        <input asp-for="WalletAddress5" class="form-control" />
                        <span asp-validation-for="WalletAddress5"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="WalletName6"></label>
                        <input asp-for="WalletName6" class="form-control" />
                        <span asp-validation-for="WalletName6"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="WalletAddress6"></label>
                        <input asp-for="WalletAddress6" class="form-control" />
                        <span asp-validation-for="WalletAddress6"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="WalletName7"></label>
                        <input asp-for="WalletName7" class="form-control" />
                        <span asp-validation-for="WalletName7"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="WalletAddress7"></label>
                        <input asp-for="WalletAddress7" class="form-control" />
                        <span asp-validation-for="WalletAddress7"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="WalletName8"></label>
                        <input asp-for="WalletName8" class="form-control" />
                        <span asp-validation-for="WalletName8"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="WalletAddress8"></label>
                        <input asp-for="WalletAddress8" class="form-control" />
                        <span asp-validation-for="WalletAddress8"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="WalletName9"></label>
                        <input asp-for="WalletName9" class="form-control" />
                        <span asp-validation-for="WalletName9"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="WalletAddress9"></label>
                        <input asp-for="WalletAddress9" class="form-control" />
                        <span asp-validation-for="WalletAddress9"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="WalletName10"></label>
                        <input asp-for="WalletName10" class="form-control" />
                        <span asp-validation-for="WalletName10"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="WalletAddress10"></label>
                        <input asp-for="WalletAddress10" class="form-control" />
                        <span asp-validation-for="WalletAddress10"></span>
                    </div>
                </div>


                <div class="form-group mt-3">
                    <input type="submit" value="ثبت تفییرات" class="btn btn-block btn-primary py-4" />
                </div>

            </form>
        </div>
    </div>
</div>


