@model int

@{

    var statusCode = Model;

    var statusmessage = "";

    switch (statusCode)

    {

        case 400:

            statusmessage = "Bad request: The request cannot be fulfilled due to bad syntax";

            break;

        case 403:

            statusmessage = "Forbidden";

            break;

        case 404:

            statusmessage = "صفحه یا مطلب مورد نظر یافت نشد";

            break;

        case 408:

            statusmessage = "The server timed out waiting for the request";

            break;

        case 500:

            statusmessage = "Internal Server Error - server was unable to finish processing the request";

            break;

        default:

            statusmessage = "That’s odd... Something we didn't expect happened";

            break;

    }

}

<section id="errors-area" class="area-mt">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="bg-danger text-white">

                    <span id="error-title">خطای @Model :(</span>

                    <span id="error-message">@statusmessage</span>

                </div>
            </div>
        </div>
    </div>
</section>