<!DOCTYPE html>
<html lang="fa-IR" dir="rtl">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewData["Title"] - پنل مدیریت</title>


    <link rel="stylesheet" href="~/lib/bootstrap-4.0.0-rtl-dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/lib/fontawesome-5.7.0/css/all.min.css" />

    <link rel="stylesheet" href="~/css/admin-panel-default.css" />
</head>

<body>

    <div class="container-fluid">
        <div class="row mt-5">
            <div class="col-lg-4 col-md-8 col-sm-10 col-12 m-auto">

                @RenderBody()

            </div>
        </div>
    </div>



    <script src="~/lib/jquery/dist/jquery.js"></script>
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script src="~/lib/bootstrap-4.0.0-rtl-dist/js/bootstrap.min.js"></script>

</body>
</html>