@{
    Layout = "_LayoutManage";

    ViewData["Title"] = "فراموشی کلمه عبور";
}


<div class="login-card">
    <div class="login-card-header">
        <p class="text-danger h2">فراموشی کلمه عبور</p>
    </div>
    <div class="login-card-body">
        <p>
            ایمیلی حاوی لینک ریست کلمه ی عبور برای شما ارسال گردید . لطفا ایمیل خود را بررسی کنید.
        </p>
        
        <a asp-action="Login" class="btn btn-primary btn-block py-4">بازگشت به صفحه ورود</a>
    </div>
</div>