@{
    Layout = "_LayoutManage";

    ViewData["Title"] = "ریست کلمه عبور";
}

<div class="login-card">
    <div class="login-card-header">
        <p class="text-danger h2">ریست کلمه عبور</p>
    </div>
    <div class="login-card-body">
        <p>
            کلمه عبور با موفقیت بروزرسانی گردید.
        </p>

        <a asp-action="Login" class="btn btn-primary btn-block py-4">بازگشت به صفحه ورود</a>
    </div>
</div>
