@model AMZEnterpriseWebsite.Areas.Admin.Models.ViewModels.ResetPasswordViewModel
@{
    Layout = "_LayoutManage";

    ViewData["Title"] = "ریست کلمه عبور";
}

<div class="login-card">
    <div class="login-card-header">
        <p class="text-danger h2">ریست کلمه عبور</p>
    </div>
    <div class="login-card-body">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input asp-for="Code" type="hidden" />
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary btn-block py-4">ریست کلمه عبور</button>
        </form>
    </div>
</div>
